#body_content{
    width: 90%;
    margin: auto;
}
#body_content #intro_diolog{
    display: flex;
    margin-top: 70px;
}
#intro_diolog .slidecaption{
    width: 45%;
    margin-left: 5%;
    padding: 15px;
    background-color: white;
    border: 1px,solid, white;
    border-radius: 10px;
}
#intro_diolog .slidecaption img{
    width: 100%;
    height: auto;
}
#intro_diolog .content_diolog{
    width: 50%;
    display: flex;
}
.content_diolog .main_content{
    background-color: white;
    border: 1px,solid, #F6F6F6;
    border-radius: 15px;
    
    left: 15px;
    padding-left: 15px;
}
.content_diolog .arrow{
    border-color: transparent, white;
    border-style: solid;
    border-width: 20px 20px 20px 0px;
    height: 0px;
    
    top: 80px;
}
.content_diolog .main_content .title_diolog{
    font-size: 25px;
    font-weight: bold;
    font-family: comic ;
    margin-top: 10px;
    margin-bottom: 15px;
}
.content_diolog .main_content .description_diolog{
    width: 60%;
    margin-bottom: 35px;
    font-size: 13px;
}
.content_diolog .main_content .button_our_food{
    width: 100%;
    height: 35px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #EF6E1D;
    border: 1px, solid,#EF6E1D;
    border-radius: 5px;
    margin-top: 40px;
}
.content_diolog .main_content .button_our_food:hover{
    cursor: pointer;
    transform: scale(1.1);
    }
    .all{
           display: flex;
        background-color: white;
        border-radius: 10px;    
    }
.all img{
    width: 155px;
    height: 260px;
   padding-top: 20px;
   padding-right: 20px;
}

#intro_diolog .main_content{
    background-color: white;
    border: 1px,solid, #F6F6F6;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.content_diolog .main_content img{
    position: absolute;
    padding-top: 15px;
    padding-right: 15px;
    width: 155px;
}
#grid_container #slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 40px;
}
#grid_container ul li{
    width: 23%;
    margin-right: 10px;
    margin-bottom: 35px;
}
#grid_container ul li img{
    width: 100%;
    height: 100px;
}